#speaker-button {
    border-radius: 5px;
}

#speaker-img {
    width: 100%;
    height: auto;
}

.button-container {
    position: fixed;
    top: 2em;
    right: 2em;
    width: 3em;
    height: 3em;
    text-align: center;
    z-index: 1;
}

.gallery-photos{
    width: 15em;
    height: 15em;
}

.under-text{
    text-decoration-line: none;
    color: black;
}

.margin-left{
    left: 20rem;
}